{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_clas %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Nome do Exercicio</h4>
            <p>
                {{ exercicio.nome }}
                {% if exercicio.status == 'A' %}
                    <span class="badge badge-success">Ativo</span>
                {% elif exercicio.status == 'M' %}
                    <span class="badge badge-warning">Manutenção</span>
                {% else %}
                    <span class="badge badge-danger">Inativo</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Descrição</h4>
            <p style="white-space: pre-wrap;">{{ exercicio.descricao }}</p>
        </div>
    </div>

{% endblock %}
