{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_clas %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Nome Completo</h4>
            <p>
                {{ instrutor.nome }}
                {% if instrutor.status == 'A' %}
                    <span class="badge badge-success">Ativo</span>
                {% elif instrutor.status == 'F' %}
                    <span class="badge badge-warning">Férias</span>
                {% else %}
                    <span class="badge badge-danger">Desligado</span>
                {% endif %}  
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Endereço de Email</h4>
            <p>{{ instrutor.email }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Telefone para contato</h4>
            <p>{{ instrutor.telefone }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>CPF</h4>
            <p>{{ instrutor.cpf }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Data de Nascimento</h4>
            <p>{{ instrutor.data_nascimento }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Faculdade</h4>
            <p>{{ instrutor.faculdade }}</p>
        </div>
        <div class="col-sm-6">
            <h4>CONFEF | CREF</h4>
            <p>{{ instrutor.confef_cref }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Sexo</h4>
            <p>
                {% if instrutor.sexo == 'M' %}
                    Masculino
                {% elif instrutor.sexo == 'F' %}
                    Feminino
                {% else %}
                    Prefere não informar
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
