{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>
    
    <div class="row">
        <form class="col-sm-12" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nome.label }} *
                {{ form.nome(class='form-control', placeholder='Fulano da Silva Sauro')}}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email.label }} *
                        {{ form.email(class='form-control', placeholder='fulano@exemplo.com')}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.telefone.label }} *
                        {{ form.telefone(class='form-control', id='telefone_input', placeholder='(86) 99619-5290')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.cpf.label }} *
                        {{ form.cpf(class='form-control', id='cpf_input', placeholder='060.964.043-25')}}
                        {% for error in form.cpf.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.data_nascimento.label }} *
                        {{ form.data_nascimento(class='form-control', id='data_nascimento_input', placeholder='06/04/2010')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.faculdade.label }} *
                        {{ form.faculdade(class='form-control', placeholder='Instituto Xavier Para Jovens Super Dotados')}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.confef_cref.label }} *
                        {{ form.confef_cref(class='form-control', placeholder='8764324563')}}
                    </div>
                </div>
                <div class="col-md-4">
                    {{ form.sexo.label }}
                    {{ form.sexo(class='form-control')}}
                </div>
            </div>

            {{ form.submit(class='btn btn-primary') }}
            <button id="limparCampos" class="btn btn-danger">Limpar Campos <i class="fas fa-brush"></i></button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <!-- Import plugin mask for JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>

    <script>
        $('#cpf_input').mask('000.000.000-00', {reverse: true})
        $('#telefone_input').mask('(00) 00000-0000')
        $('#data_nascimento_input').mask('00/00/0000')

        $('#limparCampos').click(function() {
            $('input').val('')
            $('textarea').val('')
        })
    </script>
{% endblock %}

