{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Fulaninho" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
                <a class="btn btn-outline-success ml-1" href="" role="button">Novo</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col sm-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Status</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instrutor in instrutores %}
                        <tr>
                            <td>{{ instrutor.id }}</td>
                            <td><span class="badge badge-success"></span>{{ instrutor.status }}</td>
                            <td>{{ instrutor.nome }}</td>
                            <td>{{ instrutor.email }}</td>
                            <td>{{ instrutor.telefone }}</td>
                            <td>{{ instrutor.cpf }}</td>
                            <td>{{ instrutor.data_nascimento }}</td>
                            <td>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button onclick="window.location='';" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                        title="Detalhes"><i class="fas fa-clipboard-list"></i></button>
                                    <button onclick="window.location='';" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                        title="Editar"><i class="fas fa-edit"></i></button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{% endblock %}
