{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_clas %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Nome da Ficha</h4>
            <p>
                {{ ficha.nome }}
                {% if ficha.status == 'C' %}
                    <span class="badge badge-success">Concluida</span>
                {% elif ficha.status == 'A' %}
                    <span class="badge badge-warning">Ativa</span>
                {% else %}
                    <span class="badge badge-danger">Suspensa</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Instrutor</h4>
            <p>{{ ficha.instrutor.nome }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Aluno</h4>
            <p>{{ ficha.aluno.nome }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Data de Inicio</h4>
            <p>{{ ficha.data_inicio }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Data de Finalização</h4>
            <p>{{ ficha.data_fim }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>
                Treinos
                {% if ficha.status == 'A' %}
                    <a class="btn btn-outline-primary ml-1" href="{{ url_for('cadastrar_treino', id=ficha.id) }}" role="button">Adicionar Treio</a>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Exercicio</th>
                            <th>Carga</th>
                            <th>Repetição</th>
                            <th>Seções</th>
                            <th>Descanso</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for treino in ficha.treinos %}
                            <tr>
                                <td>{{ treino.id }}</td>
                                <td>{{ treino.exercicio.nome }}</td>
                                <td>{{ treino.carga }} Kg</td>
                                <td>{{ treino.repeticao }}</td>
                                <td>{{ treino.secao }}</td>
                                <td>{{ treino.descanso }}</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button onclick="window.location='{{ url_for("editar_treino", id=treino.id) }}';" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                            title="Editar"><i class="fas fa-edit"></i></button>
                                        <button onclick="" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                            title="Apagar"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
        </div>
    </div>

{% endblock %}
