{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>
    
    <div class="row">
        <form class="col-sm-12" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nome.label }} *
                {{ form.nome(class='form-control', placeholder='Treino Vem Monstro')}}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.instrutor.label }} *
                        {{ form.instrutor(class='form-control')}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.aluno.label }} *
                        {{ form.aluno(class='form-control')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.data_inicio.label }} *
                        {{ form.data_inicio(class='form-control', placeholder='01/01/2019')}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.data_fim.label }} *
                        {{ form.data_fim(class='form-control', placeholder='01/02/2019')}}
                    </div>
                </div>
            </div>

            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>

{% endblock %}

{% block script %}
    <!-- Import plugin mask for JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>

    <script>
        $('#data_inicio').mask('00/00/0000')
        $('#data_fim').mask('00/00/0000')

        $('#limparCampos').click(function() {
            $('input').val('')
            $('textarea').val('')
        })
    </script>
{% endblock %}

