{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>
    
    <div class="row">
        <form class="col-sm-12" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.exercicio.label }}
                        {{ form.exercicio(class='form-control') }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.carga.label }}
                        <div class="input-group">
                            {{ form.carga(class='form-control', placeholder='50') }}
                            <div class="input-group-prepend">
                                <div class="input-group-text">Kg</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.repeticao.label }}
                        {{ form.repeticao(class='form-control', placeholder='15') }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.secao.label }}
                        {{ form.secao(class='form-control', placeholder='3') }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.descanso.label }}
                        <div class="input-group">
                            {{ form.descanso(class='form-control', placeholder='45')}}
                            <div class="input-group-prepend">
                                <div class="input-group-text">seg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ form.submit(class='btn btn-primary') }}
            <button id="limparCampos" class="btn btn-danger">Limpar Campos <i class="fas fa-brush"></i></button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script>

        $('#limparCampos').click(function() {
            $('input').val('')
            $('textarea').val('')
        })
    </script>
{% endblock %}

