{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <img src="https://thumbs.gfycat.com/AccurateUnfinishedBergerpicard-size_restricted.gif" alt="" class="img-fluid">
        </div>
    </div>
{% endblock %}

