{% extends 'base.html' %}

{% block main_class %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>Cadastrar Aluno</h1>
        </div>
    </div>
    
    <div class="row">
        <form class="col-sm-12" method="POST">
            <div class="form-group">
                <label for="fullNameFormControl">Nome Completo *</label>
                <input name="nome" type="text" class="form-control" id="fullNameFormControl" placeholder="Fulaninho da Silva Sauro"
                    required>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailFormControlInput">Endereço de email *</label>
                        <input name="email" type="email" class="form-control" id="emailFormControlInput" placeholder="nome@examplo.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telefoneFormControlInput">Telefone para contato *</label>
                        <input name="telefone" type="text" class="form-control" id="telefoneFormControlInput" placeholder="(86) 99817-1671"
                            required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cpfFormControlInput">CPF *</label>
                        <input name="cpf" type="text" class="form-control" id="cpfFormControlInput" placeholder="060.964.043-25"
                            required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dataNascimentoFormControlInput">Data de nascimento *</label>
                        <input name="data_nascimento" type="text" class="form-control" id="dataNascimentoFormControlInput" placeholder="08/06/1994"
                            required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="pesoFormControlInput">Peso</label>
                    <div class="input-group">
                        <input name="peso" type="number" class="form-control" id="pesoFormControlInput" placeholder="60,5" step="0.50">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Kg</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="alturaFormControlInput">Altura</label>
                    <div class="input-group">
                        <input name="altura" type="number" class="form-control" id="alturaFormControlInput" placeholder="1,57" step=".05">
                        <div class="input-group-prepend">
                            <div class="input-group-text">m</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="sexoFormControlSelect">Sexo *</label>
                    <select name="sexo" class="form-control" id="sexoFormControlSelect" required>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                        <option value="X">Prefere não informar</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="observacoesFormControlTextarea">Observações</label>
                <textarea name="observacoes" class="form-control" id="observacoesFormControlTextarea" rows="3"></textarea>
            </div>
    
            <button type="submit" class="btn btn-primary">Cadastrar <i class="fas fa-paper-plane"></i></i></button>
            <button id="limparCampos" class="btn btn-danger">Limpar Campos <i class="fas fa-brush"></i></button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <!-- Import plugin mask for JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>

    <script>
        $('#cpfFormControlInput').mask('000.000.000-00', {reverse: true})
        $('#telefoneFormControlInput').mask('(00) 0 0000-0000')
        $('#dataNascimentoFormControlInput').mask('00/00/0000')

        $('#limparCampos').click(function() {
            $('input').val('')
            $('textarea').val('')
        })
    </script>
{% endblock %}

