{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block main_clas %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 border-bottom mt-2 mb-4">
            <h1>{{ titulo }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Nome Completo</h4>
            <p>
                {{ aluno.nome }}
                {% if aluno.status == 'A' %}
                    <span class="badge badge-success">Ativa</span>
                {% else %}
                    <span class="badge badge-danger">Trancada</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Endereço de Email</h4>
            <p>{{ aluno.email }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Telefone para contato</h4>
            <p>{{ aluno.telefone }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>CPF</h4>
            <p>{{ aluno.cpf }}</p>
        </div>
        <div class="col-sm-6">
            <h4>Data de Nascimento</h4>
            <p>{{ aluno.data_nascimento.strftime('%d/%m/%Y') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Peso</h4>
            <p>{{ aluno.peso or '' }} Kg</p>
        </div>
        <div class="col-sm-6">
            <h4>Altura</h4>
            <p>{{ aluno.altura or '' }} m</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Sexo</h4>
            <p>
                {% if aluno.sexo == 'M' %}
                    Masculino
                {% elif aluno.sexo == 'F' %}
                    Feminino
                {% else %}
                    Prefere não informar
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Observações</h4>
            <p>{{ aluno.observacoes or '' }}</p>
        </div>
    </div>
{% endblock %}
